[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "nnfor"]
	path = nnfor
	url = https://github.com/trnnick/nnfor
	shallow = true
	registered = true
[submodule "tsutils"]
	path = tsutils
	url = https://github.com/trnnick/tsutils
	shallow = true
	registered = true
