[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MAPA"]
	path = MAPA
	url = https://github.com/trnnick/mapa
[submodule "curvir"]
	path = curvir
	url = https://github.com/trnnick/curvir
[submodule "nnfor"]
	path = nnfor
	url = https://github.com/trnnick/nnfor
[submodule "tsintermittent"]
	path = tsintermittent
	url = https://github.com/trnnick/tsintermittent
[submodule "tsutils"]
	path = tsutils
	url = https://github.com/trnnick/tsutils
